body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: auto;
  font-family: "Avenir", Helvetica, sans-serif !important;
  /* background-color: #000; */
  background-color: #2e2b2b;
  color: #f7fafa;
  position: relative;
}

* {
  box-sizing: border-box;
}

.dashboard-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2c2c;
  color: #fff;
  padding: 10px 16px 5px 16px;
}

.header-dashboard a {
  text-decoration: none;
  color: inherit;
  margin: 0 1rem;
  font-weight: 400;
}
.sign-btn {
  padding: 10px;
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.dashboard-conteiner {
  display: flex;
  min-height: calc(100vh - 61px);
}
.menu-left {
  width: 300px;
  min-width: 300px;
  background-color: #2c2c2c;
}
@media only screen and (max-width: 768px) {
  .menu-left {
    width: 10%;
    min-width: 72px;
  }
}
.menu-left ul {
  padding-left: 0;
  margin: 0;
}

.menu-left ul a {
  text-decoration: none;
  color: #fff;
}

.menu-left ul li {
  list-style: none;
  padding: 16px 10px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .menu-left ul a li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .menu-left ul a li span {
    display: none;
  }
}
.active-menu {
  background-color: #ffffff29;
  font-weight: bold;
}

.content-grafics {
  width: 100%;
  padding: 0 48px 48px 48px;
}

@media only screen and (max-width: 1200px) {
  .content-grafics {
    padding: 10px;
  }
}

.navbar-grafics {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  align-items: center;
}
.navbar-grafics-title {
  font-size: 32px;
  font-weight: bold;
}

.grafics-dashboard {
  display: flex;
  height: auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
  .grafics-dashboard {
    flex-direction: column;
  }
}
.grafics-left {
  /* flex: 3; */
  width: 60%;
}
@media only screen and (max-width: 1200px) {
  .grafics-left {
    width: 100%;
  }
}
.grafics-right {
  /* flex: 2; */
  width: 40%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1200px) {
  .grafics-right {
    width: 100%;
  }
}
.grafics-left-content {
  position: relative;
  padding: 0;
  height: 100%;
  display: flex;
  background-color: #2c2c2c;
  border-radius: 12px;
  width: 100%;
}

.label-tag {
  position: absolute;
  left: 70%;
  /* z-index: 3; */
  top: 85px;
}
.label-tag.income {
  top: 50px;
}

.label-tag::before {
  content: "";
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  left: -18px;
  top: 3px;
  border-radius: 5px;
}
.label-tag.income::before {
  background-color: #2ac904;
}
.label-tag.expenses::before {
  background-color: #ff0000;
}

.dib-grafic {
  display: block;
  position: relative;
  width: 100%;
  height: 600px;
  padding: 0;
  font-size: 11px;
  overflow-x: hidden;
}

.inner-content {
  border-radius: 12px;
  color: #fff;
  width: 100%;
  margin-top: auto;
}

.v-meter {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 13px;
}
.v-meter h3 {
  margin-left: 5%;
  margin-right: 5%;
}

.button-line::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #ffffff66;
  bottom: 50px;
  z-index: 2;
}

.bar {
  width: 28px;
  height: 25%;
  background-color: hsl(0, 91%, 43%);
  position: absolute;
  left: -4%;
  bottom: 61px;
  margin: 0 40px;
  border-radius: 5px;
}
@media screen and (max-width: 650px) {
  .bar {
    width: 15px;
  }
}
@media screen and (max-width: 550px) {
  .bar {
    left: -10%;
  }
}
@media screen and (max-width: 400px) {
  .bar {
    left: -13%;
  }
}
.one::after {
  content: attr(data-name);
  position: absolute;
  top: -15%;
}
@media screen and (max-width: 650px) {
  .one::after {
    font-size: 9px;
  }
}
.two {
  /* height: var(--bar-value); */
  height: 25%;
  background-color: #00ff22;
  left: 3%;
}
@media screen and (max-width: 550px) {
  .two {
    left: -2%;
  }
}
@media screen and (max-width: 400px) {
  .two {
    left: -5%;
  }
}
.two::after {
  content: attr(data-name);
  position: absolute;
  top: -15%;
}
@media screen and (max-width: 650px) {
  .two::after {
    font-size: 9px;
  }
}
.three {
  /* height: var(--bar-value); */
  height: 28%;
  left: 23%;
}
@media screen and (max-width: 550px) {
  .three {
    left: 15%;
  }
}
@media screen and (max-width: 400px) {
  .three {
    left: 11%;
  }
}
.three::after {
  content: attr(data-name);
  position: absolute;
  top: -15%;
}
@media screen and (max-width: 650px) {
  .three::after {
    font-size: 9px;
  }
}
.four {
  /* height: var(--bar-value); */
  height: 28%;
  background-color: #00ff22;
  left: 30%;
}
@media screen and (max-width: 550px) {
  .four {
    left: 23%;
  }
}
@media screen and (max-width: 400px) {
  .four {
    left: 19%;
  }
}
.four::after {
  content: attr(data-name);
  position: absolute;
  top: -15%;
}
@media screen and (max-width: 650px) {
  .four::after {
    font-size: 9px;
  }
}

.five {
  /* height: var(--bar-value); */
  height: 25%;
  left: 50%;
}
@media screen and (max-width: 550px) {
  .five {
    left: 40%;
  }
}
@media screen and (max-width: 400px) {
  .five {
    left: 33%;
  }
}
.five::after {
  content: attr(data-name);
  position: absolute;
  top: -15%;
}
@media screen and (max-width: 650px) {
  .five::after {
    font-size: 9px;
  }
}
.six {
  /* height: var(--bar-value); */
  height: 35%;
  background-color: #00ff22;
  left: 57%;
}
@media screen and (max-width: 550px) {
  .six {
    left: 48%;
  }
}
@media screen and (max-width: 400px) {
  .six {
    left: 42%;
  }
}
.six::after {
  content: attr(data-name);
  position: absolute;
  top: -15%;
}
@media screen and (max-width: 650px) {
  .six::after {
    font-size: 9px;
  }
}
.seven {
  height: 25%;
  /* height: var(--bar-value); */
  left: 75%;
}
@media screen and (max-width: 550px) {
  .seven {
    left: 68%;
  }
}
@media screen and (max-width: 400px) {
  .seven {
    left: 58%;
  }
}
.seven:after {
  content: attr(data-name);
  position: absolute;
  top: -15%;
}
@media screen and (max-width: 650px) {
  .seven::after {
    font-size: 9px;
  }
}
.eight {
  height: 25%;
  /* height: var(--bar-value); */
  background-color: #00ff22;
  left: 82%;
}
@media screen and (max-width: 550px) {
  .eight {
    left: 76%;
  }
}
@media screen and (max-width: 400px) {
  .eight {
    left: 68%;
  }
}
.eight::after {
  content: attr(data-name);
  position: absolute;
  top: -10%;
}
@media screen and (max-width: 650px) {
  .eight::after {
    font-size: 9px;
  }
}

.grafic-right-top {
  padding: 0 0 16px 16px;
}
@media only screen and (max-width: 1200px) {
  .grafic-right-top {
    padding: 3px;
  }
}
.grafic-right-top-container {
  padding: 16px;
  border-radius: 8px;
  background-color: #2c2c2c;
}

.grafic-right-top-container-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 8px;
}

.font-size-28 {
  font-size: 28px !important;
  line-height: 1.6 !important;
}
.mt-2 {
  margin-top: 1rem !important;
}

.ml-1 {
  margin-left: 0.5rem !important;
}
.edit-budget {
  cursor: pointer;
}
.grafic-right-button {
  padding: 0 0 0 16px;
  flex: 1 1;
}

@media only screen and (max-width: 1200px) {
  .grafic-right-button {
    padding: 3px;
  }
}
.grafic-right-bottom-container {
  padding: 16px;
  border-radius: 8px;
  background-color: #2c2c2c;
  height: 100%;
}
.grafic-right-bottom-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 8px;
}

.expenses_total {
  width: 128px;
  height: 130px;
  background-color: #31312e;
  /* position: absolute; */
  /* top: 46%; */
  /* left: 73%; */
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}
:root {
  --color_azul: #190eac;
  --color_verde: #068530;
  --color_rojo: #eb0606;
  --color_morado: #a805e9;
  --color_amarillo: #d6d30e;
  --color_rosado: #eb0c7b;
}

.grafico_circular {
  width: 179px;
  height: 188px;
  border-radius: 50%;
  background-image: conic-gradient(
    var(--color_azul) 30%,
    var(--color_verde) 30% 50%,
    var(--color_rojo) 50% 70%,
    var(--color_morado) 70% 80%,
    var(--color_amarillo) 80% 90%,
    var(--color_rosado) 90%
  );
  box-shadow: 1px 1px 5px 1px #464646;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leyenda_all {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: white;
}
[class^="color_"] {
  width: 15px;
  height: 15px;
  background-color: var(--color_azul);
  margin-right: 8px;
  border-radius: 3px;
}
.color_transportion {
  background-color: var(--color_verde);
}
.color_grocery {
  background-color: var(--color_rojo);
}
.color_electricity {
  background-color: var(--color_morado);
}
.color_internet {
  background-color: var(--color_amarillo);
}
.color_gym {
  background-color: var(--color_rosado);
}

.content-wrapper {
  display: flex;
  min-height: calc(100vh - 61px);
}

.content {
  width: 100%;
  padding: 0 48px 48px 48px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
}

.profile .form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  padding: 0px 10px;
  margin-bottom: auto;
}

.upload-area {
  margin: 0 auto;
  width: 150px;
  display: block;
  cursor: pointer;
}

.upload-text {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}

.profile .form-container label {
  font-size: 18px;
  font-weight: 600;
}

.profile-input {
  height: 50px;
  border-radius: 8px;
  border: 2px solid #fff;
  margin: 4px 0 8px 0;
  padding: 5px 10px 5px 16px;
  background-color: transparent;
}

.custom-btn {
  height: 42px;
  border-radius: 8px;
  border: 1px solid #707070;
  font-size: inherit;
  font-weight: bold;
  margin: 24px auto 12px auto;
  color: #2c2c2c;
  background-color: #ffffff;
  transition: 0.2s ease-out;
  cursor: pointer;
  padding: 0 38px;
}

.second-nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  align-items: center;
  flex-direction: column;
}

.second-nav-bar-title {
  font-size: 32px;
  font-weight: bold;
}

.add-budget img {
  width: 120px;
  height: 40px;
}
.transaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.table-container {
  background-color: #2c2c2c;
  margin-bottom: 16px;
  border-radius: 12px;
  padding: 10px 10px;
  width: 100%;
}

.second-nav-bar-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.dashboard {
  display: flex;
  height: auto;
  box-sizing: border-box;
  margin-top: 5%;
}

@media only screen and (max-width: 1200px) {
  .dashboard {
    flex-direction: column;
  }
}

.menu-container {
  list-style: none;
  margin: 0;
}

.user-menu {
  /* position: absolute; */
  position: relative;
  border-radius: 24px;
  background-color: #2c2c2c;
  width: 256px;
  border-radius: 12px;
  padding: 10px 20px !important;
  border: 1px solid #ffffff;
  left: 50%;
}

.user-menu .profile-highlight {
  display: flex;
  margin-bottom: 10px;
}
.user-menu .profile-highlight img {
  width: 48px;
  height: 48px;
  border-radius: 25px;
  object-fit: cover;
}
.user-menu .profile-highlight .details {
  display: flex;
  flex-direction: column;
  margin: auto 12px;
  align-items: flex-start;
}
.user-menu .profile-highlight .details #profile-name {
  font-weight: 600;
  font-size: 16px;
}

.user-menu .profile-highlight .details #profile-footer {
  font-weight: 300;
  font-size: 14px;
  margin-top: 4px;
}

.user-menu .user-menu-link {
  display: flex;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding: 10px 4px;
  width: 100%;
}

.user-menu .footer {
  border-top: 1px solid #e0e0e0;
  margin-top: 8px;
}

.user-menu .footer .user-menu-link {
  font-size: 13px;
  font-weight: 600;
}
